body {
  background-image: linear-gradient(-225deg, #e2ccc8 0%, #00334e 100%);
  width: 600px;
  margin: 0 auto;
}

/* Header*/

header {
  background-image: url("../image/singapore.jpg");
  background-repeat: no-repeat;
  background-size: 600px;
  height: 265px;
  border: double thick #00334e;
  border-radius: 8px;
  color: #f6f5f5;
  padding: 30px;
}

/*Title Header*/

h3 {
  font-weight: 600;
  margin-bottom: 70px;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  font-size: 31px;
}

.holiday {
  color: #00334e;
}

.fa-clock {
  color: #c75f2c;
}
.temperature {
  font-family: "Rajdhani", sans-serif;
  font-size: 14px;
  text-align: left;
  font-weight: 600;
  line-height: 1.5;
}

.locationCurrent {
  padding: 0px;
  font-size: 16px;
  line-height: 1.5;
}

.rightLocation {
  text-align: right;
  font-size: 16px;
  line-height: 1.5;
  padding: 0px;
}

#iconSingapore {
  width: 30px;
  height: 30px;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #f6f5f5;
}

a.disabled1 {
  color: #c75f2c;
}

/*Form*/

.formDestination {
  text-align: center;
}

input {
  opacity: 0.9;
  font-size: 16px;
  font-family: "Rajdhani", sans-serif;
  line-height: 1.5;
  color: #00334e;
  font-weight: 600;
  border-radius: 6px;
  padding: 1px;
  text-align: center;
  background-color: #f6f5f5;
}

input::placeholder {
  color: #00334e;
}

.descriptionWeather {
  text-transform: capitalize;
}

/*Card*/

.iconCardFront {
  width: 56px;
  height: 56px;
}

.timeCard {
  font-weight: 500;
  font-size: 12px;
  color: #8b735e;
  margin-top: 12px;
}

.card-title {
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
  height: 42px;
  color: #c75f2c;
  line-height: 1;
  margin-bottom: 1ren;
}

.card-subtitle-card {
  font-weight: bold;
  color: #00334e;
}

.moreDetailsTempCard {
  font-weight: 500;
  color: #8b735e;
  font-size: 14px;
}

.card-resultsHistory {
  font-family: "Rajdhani", sans-serif;
  font-size: 15px;
  border-radius: 8px;
  background-image: linear-gradient(-225deg, #dec4c8 0%, #ffe6fa 100%);
  line-height: 1.2;
  text-align: left;
  width: 18rem;
}

/*button*/

.btn-forecast {
  color: #00334e;
  border: double thick #f6f5f5;
  font-weight: bold;
  margin-top: 6px;
  padding: 6px;
  font-size: 15px;
}

.btn-forecast:hover {
  color: #00334e;
  background-color: #f6f5f5;
  border: double thick #00334e;
}

.btn-forecast:focus {
  box-shadow: none;
}

/*flip card*/

.flip-card {
  display: grid;
}

.flip-card.flip .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-inner {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transition: all 0.7s ease;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  grid-area: frontAndBack;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.flip-card-back {
  transform: rotateY(-180deg);
}

.flip-card-back .row {
  text-align: center;
}

.flip-card-back .col-3 {
  padding: 0px;
  margin: auto 0;
}

/* lay-out flip card*/

.card-forecastdays {
  border: solid 2px #dec4c8;
  background-color: #e5dae3;
  color: #00334e;
  font-family: "Rajdhani", sans-serif;
  line-height: 0.6;
  height: 100%;
  border-radius: 8px;
}

.dayTemperature {
  font-weight: 600;
  color: #8b735e;
  font-size: 16px;
}

.forecastCard {
  font-size: 13px;
  font-weight: 600;
  text-align: left;
}

.feelsLikeCold {
  font-weight: 600;
  font-size: 16px;
}

.iconCardBack {
  width: 38px;
  height: 38px;
}

.fa-window-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  color: #00334e;
  opacity: 0.8;
}

footer {
  font-family: "Julius Sans One", sans-serif;
  font-size: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #00334e;
  opacity: 0.8;
  color: #f6f5f5;
  text-align: center;
  width: 100%;
}
